/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 상단 사이트 이름 스타일 */
header {
    background-color: #008485;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main_container {
    width: 100%;
    margin: auto;
    display: flex;
    grid-template-columns: 740px 330px; /* 각 행(세로줄)의 길이 */
    grid-template-rows: 120px 310px 890px 130px; /* 각 열(가로줄)의 길이 */
    gap: 10px; /* 자식요소간의 간격 */
  }

/* 왼쪽 카테고리 스타일 */
.categories {
    width: 20%;
    height: 1500px;
    background-color: #666;
    color: white;
    padding: 10px;
}

/* 오른쪽 게시글 목록 스타일 */
.posts { 
    width: 80%;
    height: 1500px;
    background-color: #dbdbdb;
    padding: 10px;
}

#info {
    border: 0px;
    background-color: #008485;
    position: absolute;
    font-size: 40px;
    top: 20px;
    right: 20px;
}

#info:hover ~ .menubars {
    color:red;
}

.menubars
