.chart_page{
    background-color: rgb(240, 223, 255);
    padding:0;
    margin:0;
}

.chart_page .head {
    margin-left : 7%;
    margin-right: 7%;
    margin-bottom:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
}

.chart_page .head h2 {
    margin-top: 10px;
    text-align: left;
    padding: 20px;
    margin-left : 20px;
    font-size: 40px;
    color : rgb(82, 43, 112);
    border-bottom: 1px dashed rgb(82, 43, 112);
    /* text-shadow: 3px 3px 6px  rgb(43, 86, 112); */
}

.chart_page .head img {
    margin: 10px;
    width: 240px;
    height: 135px;
}

.chart_page .head a{
    margin-top: 20px;
    font-size: 22px;
    margin-right : 20px;
    padding: 10px;
    height: 30px;
    width: 110px;
    text-decoration: none;
    border : none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #c494e0;
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}

.chart{
  padding :10px;
  background-color: rgb(240, 223, 255);
}

#loading_chart{
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 3px rgb(132, 13, 192);
  padding:100px;
}
.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
}
.responsive-table thead {
    position: relative;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.responsive-table thead th {
    background-color: #5e4475;
    /* border: 1px solid #775e96; */
    font-weight: normal;
    text-align: center;
    color: white;
}
.responsive-table thead th:first-of-type {
    text-align: left;
    position: relative;
    /* clip: auto;
    height: auto;
    width: auto;
    overflow: auto; */

}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}
.responsive-table th,
.responsive-table td {
    padding: .5em;
    vertical-align: middle;
}

.responsive-table tr {
    display: table-row;
  }
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }

.responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.responsive-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #6a328f;
}

.responsive-table tbody th[scope="row"] {
    background-color: #7645be;
    color: white;
}

.responsive-table tbody {
    display: table-row-group;
  }
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(231, 224, 231, 0.968);
  }
  .responsive-table tbody tr:nth-of-type(odd) {
    background-color: rgb(248, 244, 250);
  }
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
  .responsive-table tbody td {
    text-align: center;
    border-bottom: 1px solid #614277;

  }
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
  
  .responsive-table tbody tr:hover { background-color: rgb(239, 200, 221); }
  /* @media (min-width: 52em) {
    .responsive-table {
      font-size: .9em;
    }
    .responsive-table thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
    .responsive-table tr {
      display: table-row;
    }
    .responsive-table th,
    .responsive-table td {
      display: table-cell;
      padding: .5em;
    }
  
    .responsive-table caption {
      font-size: 1.5em;
    }
    .responsive-table tbody {
      display: table-row-group;
    }
    .responsive-table tbody tr {
      display: table-row;
      border-width: 1px;
    }
    .responsive-table tbody tr:nth-of-type(even) {
      background-color: rgba(94, 93, 82, 0.1);
    }
    .responsive-table tbody th[scope="row"] {
      background-color: transparent;
      color: #5e5d52;
      text-align: left;
    }
    .responsive-table tbody td {
      text-align: center;
    }
    .responsive-table tbody td[data-title]:before {
      content: none;
    }
  } */
  /* @media (min-width: 62em) {
    .responsive-table {
      font-size: 1em;
    }
    .responsive-table th,
    .responsive-table td {
      padding: .75em .5em;
    }
    .responsive-table tfoot {
      font-size: .9em;
    }
  }
  
  @media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
      padding: .75em;
    }
  } */