.graph_page{
    background-color: rgb(255, 223, 241);
}

.graph_page .head {
    margin-left : 7%;
    margin-right: 7%;
    margin-bottom:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
}

.graph_page .head h2 {
    margin-top: 10px;
    text-align: left;
    padding: 20px;
    margin-left : 20px;
    font-size: 40px;
    color : rgb(125, 27, 76);
    border-bottom: 1px dashed rgb(112, 43, 74);
    /* text-shadow: 3px 3px 6px  rgb(43, 86, 112); */
}

.graph_page .head img {
    margin: 10px;
    width: 240px;
    height: 135px;
}

.graph_page .head a{
    margin-top: 20px;
    font-size: 22px;
    margin-right : 20px;
    padding: 10px;
    height: 30px;
    width: 110px;
    text-decoration: none;
    border : none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #e094c2;
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}

#chart_button{
    /* padding:100px; */
    padding-bottom: 100px;
    background-color: rgb(255, 223, 241);
}

#chart_button a{
    margin-top: 20px;
    font-size: 18px;
    margin-right : 20px;
    padding: 10px;
    height: 30px;
    width: 110px;
    text-decoration: none;
    border : none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #bc98cc;
}