.mypage_header {
    width: 100%;
    height: 100%;
    background-color: #eaeec8;
    color: rgb(136, 151, 105);
    position:relative;
}


.mypage_header .container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    overflow: auto;
}

.mypage_header .image {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
}

.mypage_header img {
    margin-top: 20px;
    width: 240px;
    height: 135px;
}

.mypage_header .remove {
    position: relative;
    top: -137px;
    left: 105px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.mypage_header .video_name {
    position: relative;
    top: -20px;
}

.data a{
    float:left;
    /* display : flex;
    flex-direction: row;
    justify-content: flex-start; */
    padding:10px;
    margin-left : 40px;
    text-decoration: none;

    width : 150px;
    height: 20px;

    margin-right : 20px;
    padding: 16px;
    border : none;
    color: white;
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #cec5db; 
    /* width : 150px; */
}

/* .data button { */
    /* margin-left: 4%; */
    /* font-size: 20px;
    width : 170px;
    height: 50px;

    margin-right : 20px;
    padding: 16px;
    border : none;
    color: white;
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #cec5db; */
    /* box-shadow: 0 0 0 0px #d4b1ff inset,
          0 0 0 2px rgba(255, 255, 255, 0.15) inset,
          0 8px 0 0 rgba(173, 115, 186, 0.6),
          0 8px 0 1px rgba(113, 70, 118, 0.4),
          0 8px 8px 1px rgba(29, 25, 33, 0.5); */
/* } */
.mypage_header .wrapper{
    margin-left : 10%;
    margin-right: 10%;
    margin-top: 10px;
    height: 300px;
}

.mypage_header h2 {
    margin: 0;
    text-align: left;
    padding: 15px 30px;
    font-size: 30px;
    /* color:rgb(255, 255, 255); */
    /* background-color: #c8cfa7; */
    /* text-shadow: 2px 2px 2px gray; */
}

.mypage_header h3 {
    font-size: 20px;
}


.mypage_header .head {
    margin-left : 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    border-bottom: 1px dashed rgb(43, 45, 112);
    height: 140px;
}

.mypage_header .head h1 {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    margin-left : 20px;
    font-size: 40px;
    /* text-shadow: 3px 3px 6px  rgb(43, 86, 112); */
}

.mypage_header .head .home{
    font-size: 22px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border : none;
    color: white;
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #a9cad0;
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}

.mypage_header div #user_info{
    font-size: 15px;
    font-weight: bolder;
    color:rgb(136, 151, 105);
    margin-bottom: 10px;
}

.mypage_header .mainpagelink {
    width: 120px;
    height: 90px;
    padding-top: 25px;
}

.mypage_header .head .userinfo_box{
    font-size: 22px;
    width: 100px;
    height: 70px;
    padding: 15px;
    border: 2px dotted;
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    margin: 10px;
    margin-top : 15px;
    background-color: transparent;
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}


.mypage_header .head .logout{
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding: 5px;
    border : none;
    color: white;
    border-radius: 20px;
    text-align: center;
    transition: top .01s linear;
    background-color: rgb(136, 151, 105);
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}