.mypage_header {
    width: 100%;
    height: 100%;
    background-color: #C7EBFF;
    color: white;
}

.mypage_header #home {
    position: absolute;
    top: 50px;
    right: 100px;
}

.mypage_header #mountain1 {
    position: absolute;
    top: 50px;
    right: 300px;
}

.mypage_header #mountain2 {
    position: absolute;
    top: 50px;
    right: 400px;
}

.mypage_header #mountain3 {
    position: absolute;
    top: 50px;
    right: 500px;
}

.mypage_header .wrapper {
    padding: 15px;
}

.mypage_header .container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.mypage_header .image {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
}

.mypage_header img {
    margin: 10px;
    width: 80px;
    height: 80px;
}

.mypage_header button {
    display: block;
    font-size: 30px;
    margin-left: 50px;
    padding: 10px;
}

.mypage_header h1 {
    text-align: left;
    padding: 30px;
    font-size: 30px;
    border-bottom: 1px dashed black;
}

.mypage_header h2 {
    margin: 0;
    text-align: left;
    padding: 15px 30px;
    font-size: 20px;
}

.mypage_header h3 {
    font-size: 20px;
}

.mypage_header #video {
    width: auto;
    display: inline;
}