video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none;
}

.video_header {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #C7EBFF;
    color: white;
    display: flex;
    flex-direction: row;
}

.video_header .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding-right: 100px;
    border-right: thick double #32a1ce;
}

.video_header #video {
    width: 800px;
    height: 450px;
    pointer-events: none;
    margin-bottom: 3px;
}

.video_header #mypage {
    left: 600px;
    top: 50px;
    height: 100px;
    width: 100px;
    position: relative;
}

.video_header #home {
    position: absolute;
    top: 60px;
    left: 300px;
}

.video_header .container {
    /* display: flex;
    flex-direction: row; */
    position : relative;
}

.video_header .recommend {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.video_header .btn_like {
    position: absolute;
    top:2px;
    left :65px;
    padding: 5px;
    font-size: 35px;
    color: black;
    /*color: rgb(255, 47, 141);*/
    background-color: transparent;
    border: transparent;
}

.video_header .btn_play {
    position: absolute;
    left :10px;
    padding: 5px;
    font-size: 35px;
    background-color: transparent;
    border: transparent;
}

select {
    font-size: 25px;
    /* width : 50em; */
    border: 1px solid #aaa;
    border-radius: .5em;
    box-shadow: 0 1px 0 1px;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

.video_header #optionSpeed {
    position: absolute;
    top:5px;
    right:130px;
    padding: 4px;
    color:rgb(18, 15, 17);
    background-color: rgb(247, 227, 236);
    width: 80px;
    text-align: center;
}

.video_header #optionDropdown {
    position: absolute;
    top:5px;
    right:1px;
    padding: 4px;
    color:rgb(18, 15, 17);
    background-color: rgb(210, 231, 249);
    width: 120px;
    /* border: transparent; */
}

.video_header .recom_img {
    width: 120px;
    height: 120px;
    margin: 20px;
}

.video_header .my_h2 {
    margin: 0;
    text-align: center;
    padding: 50px;
    padding-bottom: 25px;
    font-size: 40px;
}

.video_header .my_h3 {
    padding: 20px;
    color: brown;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.video_header .category {
    display: flex;
    flex-direction: row;
}

.video_header .item {
    margin: 10px 50px;
}

.video_header a {
    display: inline-block;
}

.video_header .mypage_div {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 3%;
    left: 95%;
}

.video_header .mainpage_div {
    height: 100px;
    width: 130px;
    position: absolute;
    top: 2%;
    left: 5%;
}

.video_header .video_container {
    width: 800px;
    height: 520px;
    padding : 10px;
    padding-bottom: 0px;
    background-color: rgb(245, 240, 193);
}
