video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none;
}

.video_header {
    width: 100%;
    height: 1400px;
    background-color: #C7EBFF;
    color: white;
    display: flex;
    flex-direction: row;
}

.video_header .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.video_header #video {
    width: 800px;
    height: 450px;
    pointer-events: none;
}

.video_header #mypage {
    left: 600px;
    top: 50px;
    height: 100px;
    width: 100px;
    position: relative;
}

.video_header #home {
    position: absolute;
    top: 60px;
    left: 300px;
}

.video_header #info {
    font-size: 30px;
}

.video_header .container {
    display: flex;
    flex-direction: row;
}

.video_header .recommend {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.video_header .btn_like {
    padding: 10px;
    font-size: 30px;
    background-color: transparent;
    border: transparent;
}

.video_header .btn_play {
    padding: 10px;
    font-size: 30px;
    background-color: transparent;
    border: transparent;
}

.video_header .recom_img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.video_header select {
    font-size: 50px;
}

.video_header h1 {
    text-align: left;
    padding: 50px;
    font-size: 50px;
    border-bottom: 1px dashed black;
}

.video_header h2 {
    margin: 0;
    text-align: left;
    padding: 50px;
    font-size: 40px;
}

.video_header .category {
    display: flex;
    flex-direction: row;
}

.video_header .item {
    margin: 10px 50px;
}

.video_header a {
    display: inline-block;
}

.video_header .mypage_div {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 3%;
    left: 95%;
}

.video_header .mainpage_div {

    height: 100px;
    width: 130px;
    position: absolute;
    top: 2%;
    left: 5%;
}

.video_header .video_container {
    width: 800px;
    height: 520px;
}

.video_header #optionSpeed {
    font-size: 25px;
    background-color: transparent;
    width: 70px;
    text-align: center;
}

.video_header #optionDropdown {
    font-size: 25px;
    background-color: transparent;
    width: 120px;
    text-align: center;
}