video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
} 

.video_header {
    width: 100%;
    height: 47.52rem;
    background-color: rgb(238, 236, 218);
    color: white;
    display: flex;
    flex-direction: row;
}

.video_header .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding-right: 100px;
    /* border-right: thick double #2caa99; */
}

.video_header .video_container {
    width: 880px;
    height: 542px;
    padding : 1px;
    padding-bottom: 20px;
    background-color: #7C7877;
    /* rgb(175, 203, 198); */
}

.video_header #video {
    padding-top: 12px;
    width: 860px;
    height: 480px;
    margin-bottom: 3px;
}

.video_header #mypage {
    left: 600px;
    top: 50px;
    height: 100px;
    width: 100px;
    position: relative;
}

.video_header #home {
    position: absolute;
    top: 60px;
    left: 300px;
}

.video_header .container {
    /* display: flex;
    flex-direction: row; */
    position : relative;
}

.container svg{
    color : white;
    font-weight: bold;
}
.video_header .recommend {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(159, 195, 192);
    /* color : white; */
    overflow: auto;
}

.video_header .btn_like {
    position: absolute;
    top:2px;
    left :65px;
    padding: 5px;
    font-size: 35px;
    /* color: black; */
    /*color: rgb(255, 47, 141);*/
    background-color: transparent;
    border: transparent;
}

.video_header .btn_play {
    position: absolute;
    left :10px;
    padding: 5px;
    font-size: 35px;
    background-color: transparent;
    border: transparent;
}

.video_header .btn_back {
    position: absolute;   
    top: 2px;
    left: 120px;
    font-size: 40px;
    background-color: transparent;
    border: transparent;
}

.video_header .btn_forw {
    position: absolute;
    top: 2px;
    left: 180px;
    font-size: 40px;
    background-color: transparent;
    border: transparent;
}

.button-volume {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    top: 2px;
    left: 240px;
    &:hover{
        cursor: pointer;
    }
}

.v_img {
    width: 40px;
    height: 40px;
}

.v_range {
    position: absolute;
    left: 290px;
    top: 13px;
}

select {
    font-size: 25px;
    /* width : 50em; */
    /* border: 1px solid #aaa; */
    border-radius: .5em;
    /* box-shadow: 0 1px 0 1px; */
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

.video_header #optionSpeed {
    position: absolute;
    top:5px;
    right:160px;
    padding: 4px;
    color:rgb(18, 15, 17);
    background-color: #ffb5a9;
    width: 80px;
    text-align: center;
}

.video_header #optionDropdown {
    position: absolute;
    top:5px;
    right:1px;
    padding: 4px;
    color:rgb(18, 15, 17);
    background-color: #ffe09c;
    width: 150px;
    /* border: transparent; */
}

.video_header .recom_img {
    width: 280px;
    height: 160px;
    margin: 20px;
    margin-bottom: 0;
}

.video_header .my_h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 30px;
    font-size: 40px;
}

.video_header .my_h3 {
    /* padding: 5px 20px; */
    padding-bottom: 15px;
    color: rgb(88, 110, 83);
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.video_header .category {
    display: flex;
    flex-direction: row;
}

.video_header .item {
    margin: 10px 50px;
}

.video_header a {
    display: inline-block;
}

.video_header .mypage_div {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 3%;
    left: 70%;
}

.video_header .mainpage_div {
    height: 100px;
    width: 130px;
    position: absolute;
    top: 2%;
    left: 5%;
}


.recommend .mypage_div{
    position: absolute;
    
    /* left : -10px; */
}

.video_page_header{
    display: relative;
}

.video_page_header .mainpage_div{
    left:40px;
}

.video_page_header .mypage_div{
    right:40px;
}


.recommend #vido_page_mypage_button a{
    margin-top: 20px;
    font-size: 22px;
    /* margin-right : 20px; */
    padding: 10px;
    height: 30px;
    width: 110px;
    text-decoration: none;
    border : none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #e094c2;
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}



.button-volume .v_img{
    filter :  brightness(10009%) contrast(100%);
}