video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none;
}

.videos_header {
    background-color: #C7EBFF;
    min-height: 60vh;
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}

.videos_header .videobutton {
    border-style: solid;
    background-color: transparent;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-radius: 5%;
}

.videos_header .videoscroll {
    overflow:auto;
    background-color: #C7EBFF;
    float:left;
    width: 100%;
}

.videos_header .selectedmountain {
    line-height: 0;
    position: relative;
    left: -30%;
    top: 10%;
}

.videos_header .videodiv {
    display: inline-block;
    margin: 10px;
    color: transparent;
}

.videos_header .category {
    position: relative;
    white-space: nowrap;
    top: -36px;
    width: 100%;
    height:320px;
}

.videos_header .thumbnail {
    width: 280px;
    height: 167px;
    border-radius: 5%;
    margin: 5px;
}

.videos_header .title {
    color: white;
}


.videos_header .pad {
    height: 50px;
}

.videos_header .pad_scroll {
    width: 10%;
    height: 1px;
    float: left;
}

.videos_loading_logo {
    height: 150px;
    width: 200px;
    pointer-events: none;
}

.videos_head{
    position: relative;
    width : 100%;
}

.videos_header .mainpage_div {
    height: 100px;
    width: 130px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.videos_header .mypage_div a{
    position:absolute;
    top:30px;
    right : 20px;
    font-size: 22px;
    padding: 10px;
    height: 30px;
    width: 110px;
    text-decoration: none;
    border : none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    transition: top .01s linear;
    background-color: #e094c2;
    /* box-shadow: 0 0 0 0px #7fccde inset,
          0 0 0 2px rgba(179, 220, 227, 0.15) inset,
          0 8px 0 0 rgba(107, 167, 180, 0.6),
          0 8px 0 1px rgba(145, 158, 199, 0.4),
          0 8px 8px 1px rgba(0,0,0,0.5); */
}