video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none;
}

.videos_header {
    background-color: #C7EBFF;
    min-height: 60vh;
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}

.mainpage_div .videolist {
    width: 100%;
    height:100%;

    background-color: #C7EBFF;
}

.videos_header .videoscroll {
    overflow:auto;
    background-color: #C7EBFF;
}

.videos_header .selectedmountain {
    line-height: 2;
    position: relative;
    left: -20%;
    top: 10%;
}

.videos_header .videodiv {
    display: inline-block;
    margin: 10px;
}

.videos_header .category {
    position: relative;
    white-space: nowrap;
    top: -36px;
    width: 100%;
    height:384px;
}

.videos_header .thumbnail {
    width: 280px;
    height: 167px;
    border-radius: 5%;
    margin: 5px;
}