video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none;
}

.videos_header {
    background-color: #C7EBFF;
    min-height: 60vh;
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}

.videos_header .videobutton {
    border-style: solid;
    background-color: transparent;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-radius: 5%;
}

.videos_header .videoscroll {
    overflow:auto;
    background-color: #C7EBFF;
    float:left;
}

.videos_header .selectedmountain {
    line-height: 0;
    position: relative;
    left: -30%;
    top: 10%;
}

.videos_header .videodiv {
    display: inline-block;
    margin: 10px;
    color: transparent;
}

.videos_header .category {
    position: relative;
    white-space: nowrap;
    top: -36px;
    width: 100%;
    height:320px;
}

.videos_header .thumbnail {
    width: 280px;
    height: 167px;
    border-radius: 5%;
    margin: 5px;
}

.videos_header .title {
    color: white;
}

.videos_header .mypage_div {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 3%;
    left: 95%;
}

.videos_header .mainpage_div {
    display: inline-block;
    height: 100px;
    width: 130px;
    position: absolute;
    top: 2%;
    left: 5%;
}

.videos_header .pad {
    height: 50px;
}

.videos_header .pad_scroll {
    width: 10%;
    height: 1px;
    float: left;
}